# App Configuration
VITE_APP_LOGO_URL=https://sharebares.com/logo.png
VITE_APP_URL=https://sharebares.com

# CCBill Configuration (Obtain these from CCBill Admin Portal)
VITE_CCBILL_CLIENT_ACCOUNT= # (6 digits) Found under Account Info
VITE_CCBILL_SUB_ACCOUNT=    # (4 digits) Use distinct ones for Fees vs Store
VITE_CCBILL_FLEXFORM_ID=    # Found in FlexForms -> Form Manager
VITE_CCBILL_SALT=           # Found in Account Setup -> Security -> DataLink Username/Key
